<% content_for(:html_title) { 'Pen Tasks' } %>

<head>
  <link rel="stylesheet" type="text/css" href="index.css"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Indie+Flower&family=Raleway&family=Dancing+Script:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
  <% @title="Home" %>
  <%= image_tag("computer.png", :class => "bgif layer", :pos => 1) %>
  <div class="sidebar">
    <%= image_tag("logolight.png", :class => "logo") %>

    <h1 class="profile">Hello <%= current_user.username %> !</h1>
    <!-- <%= link_to "Logout", '/logout', class:"logout", method: :get %>
    <%= link_to "New Category", '/categories', class:"new_category", method: :get %> -->

    <div class="sidebar_actions">
      <%= link_to '/categories', method: :get do %>
        <%= image_tag("add.png", :class => "new_category", :title => "Add Category") %>
      <% end %>

      <%= image_tag("bell.png", :class => "bell_icon", :id => "notif", :value => "0", :title => "Show Urgent Tasks") %>
      
      <%= image_tag("info.png", :class => "info_icon", :id => "info", :title => "Show Instructions") %>
      
      <%= link_to '/logout', method: :get do %>
        <%= image_tag("logout.png", :class => "logout_icon", :title => "Sign Out") %>
      <% end %>
    </div>

  <%= link_to "Show All Tasks", authorized_path(:category_id => nil), :class => "all" %>
    
    <div class="side_scroll">
      <% @category.each do |c| %>
        <div class="category">
          <div class="cat-info">
            <%= link_to authorized_path(:category_id => c.id), :class => "nodeco" do %>
              <h4 class="category_name"><%= c.category_name %></h4>
            <% end %>
          </div>

          <div class="cat_actions">
            <div>
              <%= link_to tasks_new_path(c.id) do %>
                <img title="Add Task" class="new_icon" src="https://img.icons8.com/ios/64/000000/add--v1.png"/>
              <% end %>
            </div>

            <div>
              <%= link_to categories_change_path(c.id) do %>
                <img title="Update Category" class="update_icon" src="https://img.icons8.com/pastel-glyph/64/000000/loop.png"/>
              <% end %>
            </div>

            <div class="delete_form" id="deleteForm"> 
              <%= form_with scope: :category, method: :delete, url: categories_delete_path(c.id), local: true do |f| %>                                     
                <%= hidden_field_tag(:id, c.id) %>
                <%= f.submit "Comment", :class => "delete_icon", :title => "Delete Category", :type => :image, :src => "https://img.icons8.com/material-rounded/24/000000/delete-forever.png" %>
              <% end %>
            </div>  
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
  <div id="main">
    <div class="log" id="logs">
      <% if !!flash[:alert] %>
        <p class="logtxt"><%= flash[:alert] %></p>
      <% end %>
    </div>

    <div class="urgent" id="urgent_area">
      <p class="urgent_txt">Urgent Tasks</p>
      <div class="task_scroll">
        <div class="task_area">
          <% if @urgent_task_count == 0 %>
            <p class="notask"> No urgent tasks </p>
          <% else %>
            <% @urgent_task.each do |t| %>
              <div class="task">
                <%= link_to authorized_path(:category_id => t.category_id, :task_id => t.id), :class => "nodeco" do %>
                  <h4 class="task_name"><%= t.task_name %></h4>
                <% end %>
                <h5 class="category_task"><%= t.category_name %></h5>
                <h5 class="day"><%= t.due_date.strftime("%A") %></h5>
                <h5 class="date"><%= t.due_date.to_date %></h5>
                
                <div class="task_actions">
                  <%= form_with scope: :task, method: :put, url: tasks_finish_path(t.id), local: true do |f| %>
                    <div class="update_complete" id="updateComplete">                                          
                      <%= hidden_field_tag(:task_id, t.id) %>
                      <%= f.submit "finish", :class => "finish_icon",  :title => "Complete Task", :type => :image, :src => "https://img.icons8.com/dusk/50/000000/checked-checkbox.png" %>
                    </div>  
                  <% end %>

                  <%= link_to tasks_change_path(t.id) do %>
                    <img title="Update Task" class="update_icon" src="https://img.icons8.com/dusk/64/000000/approve-and-update.png"/>
                  <% end %>

                  <%= form_with scope: :task, method: :delete, url: tasks_delete_path(t.id), local: true do |f| %>
                    <div class="delete_form" id="deleteForm">                                          
                      <%= hidden_field_tag(:task_id, t.id) %>
                      <%= f.submit "delete", :class => "delete_icon", :title => "Delete Task", :type => :image, :src => "https://img.icons8.com/dusk/64/000000/delete-sign.png" %>
                    </div>  
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="upcoming" id="upcoming_area">
      <p class="upcoming_txt">Upcoming Tasks</p>
      <div class="task_scroll">
        <div class="task_area">
          <% if @upcoming_task_count == 0 %>
            <p class="notask"> No upcoming tasks </p>
          <% else %>
            <% @upcoming_task.each do |t| %>
              <div class="task">
                <%= link_to authorized_path(:category_id => t.category_id, :task_id => t.id), :class => "nodeco" do %>
                  <h4 class="task_name"><%= t.task_name %></h4>
                <% end %>
                <h5 class="category_task"><%= t.category_name %></h5>
                <h5 class="day"><%= t.due_date.strftime("%A") %></h5>
                <h5 class="date"><%= t.due_date.to_date %></h5>
                
                <div class="task_actions">
                  <%= form_with scope: :task, method: :put, url: tasks_finish_path(t.id), local: true do |f| %>
                    <div class="update_complete" id="updateComplete">                                          
                      <%= hidden_field_tag(:task_id, t.id) %>
                      <%= f.submit "finish", :class => "finish_icon", :title => "Complete Task", :type => :image, :src => "https://img.icons8.com/dusk/50/000000/checked-checkbox.png" %>
                    </div>  
                  <% end %>

                  <%= link_to tasks_change_path(t.id) do %>
                    <img title="Update Task" class="update_icon" src="https://img.icons8.com/dusk/64/000000/approve-and-update.png"/>
                  <% end %>

                  <%= form_with scope: :task, method: :delete, url: tasks_delete_path(t.id), local: true do |f| %>
                    <%= hidden_field_tag(:task_id, t.id) %>
                    <%= f.submit "delete", :class => "delete_icon", :title => "Delete Task", :type => :image, :src => "https://img.icons8.com/dusk/64/000000/delete-sign.png" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="modal_bg"></div>

  
  <% if @category_id != nil %>
    <div id="show" check="1">
      <div class="cat_area">
        <h4 class="cat_name"><%= @chosen_category.category_name %></h4>
        <h4 class="cat_detes"><%= @chosen_category.category_details %></h4>
        <% if @chosen_task != nil %>
          <hr>
          <h4 class="tas_name"><%= @chosen_task.task_name %></h4>
          <h5 class="tas_date"><%= @chosen_task.due_date.strftime("%A") %></h5>
          <h5 class="tas_date"><%= @chosen_task.due_date.to_date %></h5>
          <div class="tas_scroll">
            <h4 class="tas_detes"><%= @chosen_task.task_details %></h4>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="show_area" id="show" check="0"></div>
  <% end %>
  
  <%= javascript_pack_tag 'index.js' %>
  <!-- <a href="https://storyset.com/work">Work illustrations by Storyset</a> 
  <a target="_blank" href="https://icons8.com/icon/REaAov7RbGMN/update">Update</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <a target="_blank" href="https://icons8.com/icon/84025/bell">Bell</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <a target="_blank" href="https://icons8.com/icon/65298/logout-rounded-left">Logout Rounded Left</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <a target="_blank" href="https://icons8.com/icon/83449/delete-bin">Delete Bin</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
</body>