<h1>This is where your journal entries will be, <%= current_user.username %></h1>
<% if !!flash[:alert] %>
  <p><%= flash[:alert] %></p> <br>
<% end %>
<%= button_to "Logout", '/logout', method: :get %>
<%= button_to "New Category", '/categories', method: :get %>

<% @cat.each do |c| %>
  <h4><%= c.category_name %></h4>
  <h5><%= c.category_details %></h5>
  <%= button_to "New Task", tasks_new_path(:category_id => c.id) %>
  <%= button_to 'Update Category', categories_change_path(:category_id => c.id), class:"btn_details" %>
  <%= form_with scope: :category, method: :delete, url: categories_delete_path, local: true do |f| %>
    <div class="delete_form" id="deleteForm">                                          
      <%= hidden_field_tag(:id, c.id) %>
      <%= f.submit :"Delete Category", :class => "submit_delete", :id => "erase" %>
    </div>  
  <% end %>
<% end %>

<% @task.each do |t| %>
  <h4><%= t.task_name %></h4>
  <h5><%= t.category_name %></h5>
  <h5><%= t.due_date.to_date %> <%= t.due_date.strftime("%A") %></h5>
  <h5><%= t.task_details %></h5>
  <%= button_to "Update Task", tasks_change_path(:task_id => t.id) %>
  <%= form_with scope: :task, method: :delete, url: tasks_delete_path, local: true do |f| %>
    <div class="delete_form" id="deleteForm">                                          
      <%= hidden_field_tag(:task_id, t.id) %>
      <%= f.submit :"Delete Task", :class => "submit_delete", :id => "erase" %>
    </div>  
  <% end %>
<% end %>

