<head>
  <link rel="stylesheet" type="text/css" href="form.css"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Indie+Flower&family=Raleway&family=Dancing+Script:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
  <%= link_to '/welcome', method: :get do %>
    <%= image_tag("pentasks.png", :class => "logo_cat") %>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form_layout_user add_layout_user">
      <h3 class="form_title">Create an Account</h3>
      <% if @user.errors.any? %>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li class="errors"><%= message %></li>
        <% end %>
        </ul>
      <% end %>
      
      <%= f.label :email, "Email", class:"textLabel" %>
      <%= f.email_field  :email, class:"textField_user", placeholder: 'Input Email' %>

      <%= f.label :username, "Username", class:"textLabel" %>
      <%= f.text_field :username, class:"textField_user", placeholder: 'Input Username' %>

      <%= f.label :password, "Password", class:"textLabel" %>
      <%= f.text_field :password, class:"textField_user", placeholder: 'Input Password' %>

      <div class="actions">
        <%= f.submit "SIGN UP", :class => "signup" %>
        <%= link_to '/login', method: :get do %>
          <p class="login">LOGIN</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= image_tag("signup.png", :class => "signup_img layer", :pos => 1) %>
  <%= javascript_pack_tag 'form.js' %>
</body>
