<head>
  <%= stylesheet_link_tag "form" %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Indie+Flower&family=Raleway&family=Dancing+Script:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
  <%= link_to '/authorized', method: :get do %>
    <%= image_tag("pentasks.png", :class => "logo_cat") %>
  <% end %>
  <%= form_with scope: :category, method: :put, url: categories_update_path(@category.id), local: true do |f| %>
    <div class="form_layout update_layout_cat">
      <h3 class="form_title">Update Category</h3>
      <div>
        <% if !!flash[:alert] %>
          <p class="errors"><%= flash[:alert] %></p>
        <% end %>
      </div>
        
      <%= f.label :category_name, "Name", class:"textLabel" %>
      <p class="textTips">* Maximum of 15 characters</p>
      <%= f.text_field :category_name, placeholder: 'Input Category Name', value:@category.category_name, class:"textField", :maxlength => 15 %>

      <%= f.label :category_details, "Details", class:"textLabel" %>
      <p class="textTips">* Press enter to add new line</p>
      <p class="textTips">* Maximum of 50 characters</p>
      <%= f.text_area :category_details, placeholder: 'Input Category Details', value:@category.category_details, class:"textArea", :maxlength => 50 %>

      <%= f.hidden_field :user_id, value: @id %>
      <%= f.hidden_field :id, value:@category.id %>

      <%= f.submit "UPDATE CATEGORY", :class => "savebtn" %>
          
    </div>
  <% end %>

  <div class="category_layout update_list_cat">
    <p class="cat_title">Category List</p>
    <div class="cat_scroll">
      <% if @count != 0 %>
        <% @list.each do |l| %>
          <p class="list_text"> <%= l.category_name %> </p>
        <% end %>
      <% else %>
        <p class="list_text"> No categories made </p>
      <% end %>
    </div>
  </div>

  <%= image_tag("update_post.png", :class => "update_post layer", :pos => 1) %>
  <%= image_tag("filing.png", :class => "filing layer", :pos => -1) %>
  <%= javascript_pack_tag 'form.js' %>
</body>