<head>
  <link rel="stylesheet" type="text/css" href="form.scss"> 
  <link rel="shortcut icon" type="image/png" href="logo.png"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
  <%= form_with scope: :category, url: categories_create_path, local: true do |f| %>
    <% if @category.errors.any? %>
      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

    <div class="form_layout">
      <%= f.label :"Category Name", class:"boldtxt medtxt" %>
      <%= f.text_field :category_name, class:"textField" %>
    </div>
    
    <div class="form_layout">
      <%= f.label :"Category Details", class:"boldtxt medtxt" %>
      <%= f.text_field :category_details, class:"textArea" %>
    </div>
    
    <div>
      <%= f.hidden_field :user_id, value: @id %>
    </div>
    
    <%= f.submit "SAVE CATEGORY", :class => "medtxt boldtxt" %>
  <% end %>
</body>

