<head>
  <link rel="stylesheet" type="text/css" href="form.css"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Indie+Flower&family=Raleway&family=Dancing+Script:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
  <%= form_with scope: :category, url: categories_create_path, local: true do |f| %>
    <div class="form_layout add_layout_cat">
      <h3 class="form_title">New Category</h3>
      <div>
        <% if !!flash[:alert] %>
          <p class="errors"><%= flash[:alert] %></p>
        <% end %>
      </div>
      
      <%= f.label :category_name, "Name", class:"textLabel" %>
      <p class="textTips">* Maximum of 15 characters</p>
      <%= f.text_field :category_name, class:"textField", placeholder: 'Input Category Name', :maxlength => 15 %>

      <%= f.label :category_details, "Details", class:"textLabel" %>
      <p class="textTips">* Press enter to add new line</p>
      <p class="textTips">* Maximum of 50 characters</p>
      <%= f.text_area :category_details, class:"textArea", placeholder: 'Input Category Details', :maxlength => 50 %>

      <%= f.hidden_field :user_id, value: @id %>

      <%= f.submit "SAVE CATEGORY", :class => "savebtn" %>
    </div>
  <% end %>

  <%= link_to '/authorized', method: :get do %>
    <%= image_tag("pentasks.png", :class => "logo_cat") %>
  <% end %>

  <div class="category_layout add_list_cat">
    <p class="cat_title">Category List</p>
    <div class="cat_scroll">
      <% if @count != 0 %>
        <% @list.each do |l| %>
          <p class="list_text"> <%= l.category_name %> </p>
        <% end %>
      <% else %>
        <p class="list_text"> No categories made </p>
      <% end %>
    </div>
  </div>

  <%= image_tag("board.png", :class => "board_cat layer", :pos => -1) %>
  <%= image_tag("organize.png", :class => "organize_cat layer", :pos => 1) %>
  <%= javascript_pack_tag 'form.js' %>
</body>

